@font-face {
    font-family: "Press Start 2P";
    src: url("assets/fonts/PressStart2P.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Varela Round";
    src: url("assets/fonts/VarelaRound-Regular.woff2") format("woff2");
    font-display: swap;
}

:root {
    --varela-round: "Varela Round" , sans-serif;
    --press-start-2p: "Press Start 2P", monospace;
    --caramel-sand: #D4B49A;
    --lemon-curd: #FFE48A;
    --mocha-latte: #6B4226;
    --soft-raspberry: #C8657C;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 4.063rem;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: var(--varela-round);
}

img {
    max-width: 100%;
    display: block;
    color: inherit;
}

nav {
    height: 4.063rem;
    max-height: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 0.75rem 3.75rem;
    display: flex;
    align-items: center;
    gap: 3.75rem;
    border-bottom: 2.5px solid var(--caramel-sand);
    background-color: var(--lemon-curd);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.938rem;
}

#gato-logo {
    width:52px;
    height: auto;
}

.icon-btn {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}

.bounce-glow-on {
    transition: filter 0.2s ease;
}

.bounce-glow-on {
    filter: drop-shadow(0 0 5px var(--soft-rasberry));
    animation: bounce 0.5s ease;
}

@keyframes bounce {
    0% , 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}

#cafe-name {
    text-align: left;
    font-size: 1.75rem;
    letter-spacing: -1.125;
}

.color-change-text {
    color: var(--mocha-latte);
    transition: color 0.3s ease;
}

.color-change-text:hover {
    color: var(--soft-rasberry);
}

.links-container {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    text-align: left;
    gap:3.75rem;
}

.nav-link {
    color: var(--mocha-latte);
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 1px;
}

ul {
    margin:0;
    padding: 0;
    list-style:none;
}

a {
    text-decoration: none;
    font-weight: inherit;
    color: inherit;
}


.underline-slide {
    position: relative;
}

.underline-slide::after {
    content:"";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 0.75rem;
    background: currentColor;
    transition: width 0.5s ease;
}

.underline-slide:hover{
    color: var(--soft-raspberry);
}

.underline-slide:hover::after {
    width: 100%;
}

